__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
.venv/
.pytest_cache/
.mypy_cache/
build/
dist/
*.egg-info
.idea/
.vscode/
*.log
*.csv

temp_dbf
temp_download
temp_parquet

data/

GEMINI.md

*.toml
uv.lock

.venv/

malformacoes_python.egg-info
docs/